PORT='The port number to run the server on'
MONGODB_URI='The URI of the MongoDB database'
ENCRYPTION_ALGORITHM='aes-256-cbc'
ENCRYPTION_KEY='The key to use for encryption (hex encoded)'
JWT_SECRET='The secret key to use for JWT'
JWT_REFRESH='The secret key to use for JWT refresh'